<div class="page-footer">
    <div class="cont-wrap"><div class="grid_12">
        <p>Powered by <a href="https://github.com/breeswish/BWBlog" target="_blank">BWBlog</a>, a lightweight and super fast PHP blog system. <a href="{{ P_PREFIX }}/feed" target="_blank">{RSS Feed}</a></p>
    </div><div class="clear"></div></div>
</div>