<div class="page-header">
    <div class="cont-wrap"><div class="grid_12">
    <div class="page-header-title"><h1><a href="{{ P_PREFIX }}/">{{ P_TITLE }}</a></h1></div>
    </div><div class="clear"></div></div>
</div>