<div class="bw-page-header">
    <div class="float-left">
        <a href="{{ P_PREFIX }}/" target="_self" class="bw-page-header-item"><span class="icon icon-home"></span>VIEW SITE</a>
        <a href="{{ P_PREFIX }}/bwblog" target="_self" class="bw-page-header-item"><span class="icon icon-dashboard"></span>DASHBOARD</a>
        <a href="{{ P_PREFIX }}/bwblog/write" target="_self" class="bw-page-header-item"><span class="icon icon-edit"></span>WRITE</a>
    </div>
    <div class="float-right">
        <a href="javascript:;" class="role-logout bw-page-header-item">LOGOUT</a>
    </div>
    <div class="clear"></div>
</div>