{% extends "layout.twig" %}
{% block content %}
<div class="not-found">Oops.. 404 not found</div>
{% endblock %}
{% block sidebar %}
{% include "sidebar/category.twig" %}
{% include "sidebar/tags.twig" %}
{% endblock %}
